.ctx {
  text-align: center;
  color: #d8189e;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin: 3rem 0;
  /* background: linear-gradient(90deg, #D8189E -14.81%, #732ED9 108.99%); */
}

.flex {
    display: flex;
    justify-content: space-around;
}

.institution {
  padding: 5rem 2.5rem;
  margin: 2rem;
  background:  rgba(0, 0, 0, 0.7) url('../../assets/img/pexels-katerina-holmes-5905485\ 1.png');
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  border-radius: 0.4rem;
}

.school {
    padding: 5rem 2.5rem;
    margin: 2rem;
    background:  rgba(0, 0, 0, 0.7) url('../../assets/img/pexels-charlotte-may-5965930\ 1.png');
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 0.4rem;
  }
  
.p {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 53px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 0.8rem 0;
}

.a{
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.6rem .7rem;
  border-radius: 1.32rem;
  font-weight: bold;
}
.a2 {
    background: #732ED9;
    padding: 0.6rem .7rem;
  border-radius: 1.32rem;
  color: #ffffff;
  font-weight: bold;
}
